@{
	ViewData["Title"] = "AddBundlingsCar";
}
<div class="text-center mb-5">
	<h2 class="display-4">Добавить комплектацию в машину</h2>
</div>
<form method="post">
	<div class="row mb-5">
		<div class="col-4">Комплектация</div>
		<div class="col-8 ">
			<select id="bundlingId" name="bundlingId" class="form-control" asp-items="@(new SelectList(@ViewBag.Bundlings,"Id"))"></select>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-4">Машина</div>
		<div class="col-8">
			<select id="carId" name="carId" class="form-control" asp-items="@(new SelectList(@ViewBag.Cars,"Id"))"></select>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-4">Количество:</div>
		<div class="col-8">
			<input type="text" name="count" id="count" />
		</div>
	</div>
	<div class="col-4">
		<input type="submit" value="Добавить" class="btn btn-success" />
	</div>
</form>