@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Добро пожаловать на сайт Кладовщика</h2>
    <h2>Войдите или зарегистрируйтесь</h2>
    <div class="list-group">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Enter">Вход</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Регистрация</a>
    </div>
</div>
