@using CarCenterContracts.ViewModels
@model List<BundlingViewModel>
@{
	ViewData["Title"] = "Report";
}
<div class="text-center">
	<h1 class="display-4">Отчёт по комплектациям</h1>
</div>
<div class="text-center">
	<form method="post">
		@{
			if (Model == null)
			{
				<h3 class="display-4">Войдите!</h3>
				return;
			}
			<div class="row mb-5">
				<div class="col-4">Формат получения:</div>
				<div class="col-8">
					<input type="radio" id="email" name="saveFormat" value="email">
					<label for="email">почта</label>
					<input type="radio" id="site" name="saveFormat" value="site">
					<label for="site">на сайте</label>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-4">Начальная дата:</div>
				<div class="col-8">
					<input type="date" id="startDate" name="startDate" class="form-control">
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-4">Конечная дата:</div>
				<div class="col-8">
					<input type="date" id="endDate" name="endDate" class="form-control">
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-4">Выберите комплектации:</div>
				<div class="col-8">
					<select name="bundlings" multiple>
						@foreach (var bundling in Model)
						{
							<option value="@bundling.Id">@bundling.Id @bundling.EquipmentPackage</option>
						}
					</select>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-8">
				</div>
				<div class="col-4">
					<input type="submit" value="получить отчёт" class="btn btn-success" />
				</div>
			</div>
		}
	</form>
</div>