@{
    ViewData["Title"] = "Report Menu";
}

<div class="text-center">
    <h1 class="display-4">Меню создания отчетов</h1>
    <div class="list-group">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CarPresaleChoose">Отчет машина - предпродажные</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BundlingTimeChoose">Отчет по комплектаций по покупкам и особенностям</a>
    </div>
</div>
