@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Главное меню</h1>
    <div class="list-group">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexRequest">Пожелания</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexPresale">Предпродажные</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexOrder">Покупки</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Личные данные</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReportMenu">Меню отчетов</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Выйти</a>

    </div>
</div>
