@{
    ViewData["Title"] = "Report Menu";
}

<div class="text-center">
    <h1 class="display-4">Меню создания отчетов</h1>
    <div class="list-group">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PresaleCarChoose">Отчет предпродажные - машина</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OrderTimeChoose">Отчет по покупкам по пожеланиям и комплектациям</a>
    </div>
</div>
